@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  /*###### Formatação dos textos #####*/
  font-size: 11px;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  background: #000814;
}

a,
h1,
h2,
h3,
h4 {
  /*###### Formatação dos textos #####*/
  font-size: 1.5em;
}

h1 {
  padding: 17px 0px;
}

img {
  width: 100%;
}

/*####### torna o conteudo Centralizado no site ########*/
.site {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/*##### INICIO DO MENU ######*/

.menu div {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
}

.navegacao {
  display: flex;
  align-items: center;
}

.navegacao:nth-child(2) div {
  display: flex;
  align-items: center;
  background: #ffc300;
  padding: 10px 15px;
  border-radius: 10px 5px;
  margin-left: 25px;
  color: #001d3d;
  transition: background-color 0.3s;
}

.navegacao:nth-child(2) div:hover {
  background-color: #ffa500;
}

.navegacao:nth-child(2) div a {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 1.5px;
  margin-left: 10px;
  margin-top: 3px;
  color: #001d3d;
}

.navegacao ul {
  display: flex;
}

.navegacao ul li {
  margin: 0 5px;
}

.subMenu {
  z-index: 5;
  display: none !important;
  position: absolute;
  padding-top: 15px;
  background: #1a1a1a;
}

.navegacao ul li:hover > .subMenu {
  display: block !important;
  padding-top: 15px;
}

.subMenu li {
  margin-bottom: 20px !important;
}

.subMenu ul div {
  flex-direction: column;
}

.navegacao ul li a {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 10px;
  font-size: 2em;
  color: #ffc300;
  border: #1a1a1a solid 1px;
}

.navegacao ul li a:hover {
  border: #ffc300 solid 1px;
}

.navegacao > a {
  background: #ffc300;
  padding: 20px;
  margin-left: 40px;
  border: #a3a2ad solid 1px;
  border-radius: 30px 10px;
}

.navegacao > a:hover {
  background: #a3a2ad;
  border: #ffc300 solid 1px;
}

/*####### FIM DO MENU #######*/

.banner {
  border-top: #ffc300 solid 5px;
  border-bottom: #ffc300 solid 7px;
}

/*####### Sobre #######*/

.sobre {
  background: linear-gradient(to bottom, #000, #000814);
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.sobre div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sobre h2 {
  padding: 0 15px;
  font-size: 3em;
  color: #ffc300;
}

.sobre div img {
  border-radius: 0px 10px 10px 0px;
  margin: 10px 0px;
}

.sobre div:nth-child(2) {
  width: 40%;
  background: #202020;
  border-left: #ffc300 solid 10px;
  border-radius: 10px 0px 0px 0px;
  padding: 10px;
  margin-left: -30px;
}

.sobre div p {
  font-size: 2.5em;
  color: #ffffff;
  padding: 20px 15px;
  text-align: justify;
  line-height: normal;
}

.sobre a {
  background: #ffc300;
  padding: 10px 20px;
  border-radius: 10px 5px;
  align-self: flex-end;
  color: black;
  transition: background-color 0.3s;
}

.sobre a:hover {
  background-color: #ffa500;
}
/*####### Fim Sobre #########*/
/*####### Inicio das modalidades #######*/
.modalidade {
  text-transform: uppercase;
  padding-bottom: 40px;
  background: linear-gradient(to bottom, #000814, #003566);
}

.modalidade h2 {
  background: #ffc300;
  padding: 5px 20px;
  font-size: 3em;
  text-align: center;
  width: max-content;
  border-radius: 7px 5px;
  margin: 0 auto;
}

.boxmodalidade {
  display: flex;
  margin-top: 40px;
}

.boxmodalidade > div {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  background: #1a1a1a;
  border: #ffc300 solid 5px;
  border-radius: 50px;
  margin: 0 25px;
}

.boxmodalidade div div {
  padding: 0 10px;
  text-align: center;
}

.boxmodalidade img {
  max-width: 400px;
  max-height: 350px;
  width: auto;
  height: auto;
  border-radius: 45px 45px 0 0;
  border-bottom: #ffffff solid 1px;
}

.boxmodalidade a {
  position: relative;
  background: #ffc300;
  padding: 10px 20px;
  border-radius: 10px 5px;
  align-self: center;
  color: black;
  bottom: -15px;
  transition: background-color 0.3s;
}

.boxmodalidade a:hover {
  background-color: #ffa500;
}

.boxmodalidade p {
  font-size: 2em;
  color: #ffffff;
  padding: 20px 10px;
  text-align: center;
  line-height: normal;
}

.boxmodalidade h3 {
  font-size: 2.5em;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
}

/*######## edits Banners ##########*/

.bannerEvento .slick-prev:before, /* .banner no começo faz com que só funcione noa classe banner*/
.bannerEvento .slick-next:before {
  font-size: 40px;
  opacity: 0.3;
  color: #e79924;
}

.bannerEvento .slick-prev {
  left: 5px;
  z-index: 2;
}

.bannerEvento .slick-next {
  right: 45px;
}

.bannerEvento {
  border-top: #ffc300 solid 5px;
  border-bottom: #ffc300 solid 7px;
}

/*########## Fim edits Banner  ##########*/
/*########## Começo Blog #########*/
.blog {
  background: linear-gradient(to bottom, #003566, #001d3d);
  height: 500px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}

.blog h2 {
  background: #ffc300;
  padding: 5px 20px;
  font-size: 3em;
  text-align: center;
  width: max-content;
  border-radius: 7px 5px;
  margin: 0 auto;
}

.blog h3 {
  padding: 15px 0;
  color: #ffee29;
  font-size: 2.5em;
}

.blog section {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}

.blog section > div {
  display: inline-block;
  position: relative;
  width: 400px;
  margin: 2%;
  height: 350px;
}

.blog section div div {
  display: none;
  border-radius: 18px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: -17px;
  left: 3px;
  background-color: rgba(0, 29, 61, 0.5);
  width: 400px;
  height: 350px;
}

.blog img {
  position: absolute;
  top: -20px;
  left: 0px;
  width: 400px;
  height: 350px;
  border-radius: 20px;
  border: #ffc300 solid 3px;
}

.blog a {
  margin: 10%;
  text-align: center;
  background: #ffc300;
  padding: 10px 20px;
  border-radius: 10px 5px;
  color: #000814;
  transition: background-color 0.3s;
}

.blog a:hover {
  background-color: #ffa500;
}

.blog p {
  padding: 5% 0;
  width: 100%;
  color: #ffffff;
}
/*########## início Planos ##########*/
.planos {
  flex-direction: column;
  align-items: center;
  background-color: #001d3d;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
.planos h2 {
  background: #ffc300;
  padding: 5px 20px;
  font-size: 3em;
  text-align: center;
  width: max-content;
  border-radius: 7px 5px;
  margin: 0 auto;
}

.planos div:nth-child(2) {
transform: scale(1.1);
}

.planos div {
  justify-content: space-around;
  display: flex;
  padding: 20px;
}

.plano {
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
  max-width: 300px;
}

.plano h2 {
  color: #000814;
  font-size: 2.5em;
}

.plano h3 {
  margin: 10px;
  color: #ffc300;
  font-size: 6em;
  margin-top: 10px;
}

.plano li {
  margin: 5px;
  color: #555;
  font-size: 18px;
  margin-bottom: 20px;
}

.plano .recomendado {
  position: relative;
  letter-spacing: 1px;
  border: #003566 solid 1px;
  top: -35px;
  background-color: #ffc300;
  color: #000814;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.5em;
  margin-bottom: -30px;
}

.plano a {
  background-color: #ffc300;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.plano a:hover {
  background-color: #ffa500;
}

.plano span {
  margin-right: 2px;
  vertical-align: text-bottom;
  color: #00ff00;
}
/*######### Fim Planos ##########*/
/*######## Início Comentários #######*/
.comentarios {
  background-color: #001d3d;
  padding: 40px 0;
  flex-direction: column;
}

.comentarios > h2 {
  background: #ffc300;
  padding: 5px 20px;
  font-size: 3em;
  text-align: center;
  width: max-content;
  border-radius: 7px 5px;
  margin: 0 auto;
}

.comentarios > div {
  display: flex;
  justify-content: space-between;
}

.comentarios > div div {
  margin: 0 -20px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.comentarios div div div div {
  margin: 20px;
  background: #003566;
}
.comentarios img {
  margin: 0 auto;
  border-radius: 10%;
}

.comentarios div div h2 {
  font-size: 2em;
  color: #ffc300; /* Amarelo */
  margin-bottom: -10px;
}

.comentarios p {
  font-size: 2em;
  line-height: 1.5;
}

.comentarios span {
  color: #ffc300;
  font-size: 3em;
  margin-bottom: 10px;
  display: block;
}
/* ######### INICIO RODAPÉ ######### */

.rodape {
  background: #000814;
  color: #ffffff;
  border-top: solid 1px #e79924;
  box-shadow: 0px -4px 15px #e79924;
  padding: 40px;
}

.rodape div > div {
  justify-content: center;
  text-align: center;
}

.rodape div div > img {
  width: 500px;
  height: 200px;
  max-width: auto;
  max-height: auto;
}

.rodape div div div {
  display: flex;
}
.rodape div div div a {
  margin: 10px 20px;
}

.rodape article {
  display: flex;
  justify-content: center;
  text-align: left;
}

.rodape nav {
  padding: 20px 40px;
}

.rodape nav ul li {
  font-size: 2em;
  padding: 5px 0;
}

.rodape h2 {
  padding: 10px 0;
  font-size: 2.5em;
}

.rodape a,
p {
  font-size: 2em;
  color: #ffffff;
  margin: 15px 0;
}

hr {
  margin: 20px 0 0 0;
  padding: 10px 0;
  width: 100%;
  height: 1px;
  border: 0px;
  border-top: 1px solid #ffc300;
}
